<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Calendar</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">Calendar</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-television"></i>
              </span>
            </div>
            <select class="form-control" id="channelcode">
              <option value="00:01:00">channel 1</option>
              <option value="00:05:00">channel 2</option>
              <option value="00:10:00">channel 3</option>
              <option value="00:30:00">channel 4</option>
              <option value="00:60:00">channel 5</option>
            </select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
            <input type="text" class="form-control" id="datepicker" />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-clock-o"></i>
              </span>
            </div>
            <select class="form-control" id="slotduration">
              <option value="00:01:00">1 minute</option>
              <option value="00:05:00">5 minute</option>
              <option value="00:10:00">10 minute</option>
              <option value="00:30:00" selected>30 minute</option>
              <option value="00:60:00">60 minute</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <div class="card card-primary">
            <div class="card-body p-0">
              <!-- THE CALENDAR -->
              <div id="calendar"></div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Property</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampletitle">Title</label>
                  <input type="text" class="form-control" id="exampletitle" placeholder="Title">
                </div>
                <div class="form-group">
                  <label for="exampleStart">Start</label>
                  <input type="text" class="form-control" id="exampleStart" placeholder="Start">
                </div>
                <div class="form-group">
                  <label for="exampleEnd">End</label>
                  <input type="text" class="form-control" id="exampleEnd" placeholder="End">
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="button" class="btn btn-primary getEventSources">EventSources</button>
              </div>
            </form>
          </div>

          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Draggable Events</h4>
            </div>
            <div class="card-body">
              <!-- the events -->
              <div id="external-events">
                <div class="external-event bg-success">Lunch</div>
                <div class="external-event bg-warning">Go home</div>
                <div class="external-event bg-info">Do homework</div>
                <div class="external-event bg-primary">Work on UI design</div>
                <div class="external-event bg-danger">Sleep tight</div>
                <div class="checkbox">
                  <label for="drop-remove">
                    <input type="checkbox" id="drop-remove"> remove after drop
                  </label>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /. box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Create Event</h3>
            </div>
            <div class="card-body">
              <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                <ul class="fc-color-picker" id="color-chooser">
                  <li>
                    <a class="text-primary" href="#">
                      <i class="fa fa-square"></i>
                    </a>
                  </li>
                  <li>
                    <a class="text-warning" href="#">
                      <i class="fa fa-square"></i>
                    </a>
                  </li>
                  <li>
                    <a class="text-success" href="#">
                      <i class="fa fa-square"></i>
                    </a>
                  </li>
                  <li>
                    <a class="text-danger" href="#">
                      <i class="fa fa-square"></i>
                    </a>
                  </li>
                  <li>
                    <a class="text-muted" href="#">
                      <i class="fa fa-square"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /btn-group -->
              <div class="input-group">
                <input id="new-event" type="text" class="form-control" placeholder="Event Title">

                <div class="input-group-append">
                  <button id="add-new-event" type="button" class="btn btn-primary btn-flat">Add</button>
                </div>
                <!-- /btn-group -->
              </div>
              <!-- /input-group -->
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->